<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Felipe">
    <meta name="copyright" content="CC BY-SA 4.0">
    <link rel="stylesheet" href="{{page.root}}css/foundation.css">
    <link rel="stylesheet" href="{{page.root}}css/font-awesome.css">
    <link rel="stylesheet" href="{{page.root}}css/coderay.css">
    <link rel="stylesheet" href="{{page.root}}css/asciidoctor.css">
    <script src="{{page.root}}js/vendor/modernizr.js"></script>
    <script src="{{page.root}}js/toc.js"></script>
    <script type="text/x-mathjax-config" src="{{page.root}}js/mathjax_conf.js"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          messageStyle: "none",
          tex2jax: {
            inlineMath: [["\\(", "\\)"]],
            displayMath: [["\\[", "\\]"]],
            ignoreClass: "nostem|nolatexmath"
          },
          asciimath2jax: {
            delimiters: [["\\$", "\\$"]],
            ignoreClass: "nostem|noasciimath"
          },
          TeX: { equationNumbers: { autoNumber: "none" } }
        });
    </script>
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_HTMLorMML">
    </script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js">
    </script>
</head>
<body>


<!-- Nav Bar -->

<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="{{page.root}}">{{site.title}}</a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
</nav>
<!-- End Nav -->


<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">

        {{ content }}

    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="large-3 columns">
      <div id="posts">
        <h4>Posts</h4>
        <input class="search" placeholder="Filter Posts" />
        <br /><br />
        <div class="panel">
          <ul class="list">
            <li><a href="{{page.root}}" class="post">Home</a></li>
            {% for post in site.posts %}
            <li><a href=".{{ post.url }}" class="post">{{ post.navtitle }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </aside>

    <!-- Script -->
    <script>
      var userList = new List('posts', {
        valueNames: [ 'post' ]
      });
    </script>

    <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->

<footer class="row">
    <div class="large-12 columns">
        <hr>
        <div class="row">
            <div class="large-12 columns">
                <p>(c) Felipe Bemfica, 2019.<br>
                  Licenced under
                  <a rel="license"
                    href="http://creativecommons.org/licenses/by-sa/4.0/">
                    CC BY-SA 4.0
                  </a><br>
                  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="{{page.root}}js/vendor/jquery.js"></script>
<script src="{{page.root}}js/foundation.min.js"></script>
<script>
$(document).foundation();
var doc = document.documentElement;
doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>
